body {
  overflow: hidden;
}

.home-createuser {
  text-align: center;

  a {
    color: #7d4cdb;
  }
}

a {
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  color: palevioletred;
  font-weight: 600;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
}

.navigation {
  a {
    box-sizing: border-box;
    font-size: inherit;
    line-height: inherit;
    color: #ffffff;
    font-weight: 600;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .link {
    color: #ffffff !important;
  }
}

.createuser,
.login {
  .StyledBox-sc-13pk1d4-0 {
    justify-content: flex-start !important;
  }
}

.conversation {
  .conversation-header {
    border-bottom: 1px solid #9e9e9e;
  }

  .StyledBox-sc-13pk1d4-0.bQdvlT {
    padding: 10px 10px 10px 0;
  }

  .StyledBox-sc-13pk1d4-0.bIdaiR {
    padding-bottom: 0;
  }
}

.sidebar-button {
  width: 100px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.avatar-convo {
  min-width: 48px !important;
  min-height: 48px !important;
}

.TextInput__ContainerBox-sc-1ai0c08-0 {
  max-height: 50vh !important;
}

.sidebar-item {
  margin: 5px 0;
  min-height: auto !important;
}
