.home-createuser {
  text-align: center;
}

.home-createuser a {
  color: #7D4CDB;
}

a {
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  color: palevioletred;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.navigation a {
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation .link {
  color: #ffffff !important;
}

.createuser .StyledBox-sc-13pk1d4-0, .login .StyledBox-sc-13pk1d4-0 {
  justify-content: flex-start !important;
}

.conversation .conversation-header {
  border-bottom: 1px solid #9e9e9e;
}

.conversation .StyledBox-sc-13pk1d4-0.bQdvlT {
  padding: 10px 10px 10px 0;
}

.conversation .StyledBox-sc-13pk1d4-0.bIdaiR {
  padding-bottom: 0;
}
